.env
.env.*
!.env.example
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
**/.packages
**/android/local.properties
**/android/key.properties
**/ios/Flutter/ephemeral/
*.jks
*.keystore
*.p12
*.mobileprovision
.DS_Store
.idea/
.vscode/
